body {
    background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.titulo {

    font-family: 'Montserrat', sans-serif; /* Es una fuente elegante e informal */
    color: #3366cc
    font-weight: 500;
    font-style: italic;
    letter-spacing: 1px; /* Espaciado entre letras para un aspecto más relajado */
}
tarea_hecha {
    text-decoration: line-through;
    color: #888888;
}